*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redes{
    width: 100px;
    height: 200px;
}
#logo{
    float:left;
     width: clamp(150px, 2.5vw, 300px);
    height: clamp(70px, 1vw, 300px);
}
.links{
    float: inline-start;
    width: clamp(30px, 2.5vw, 300px);
    height: clamp(20px, 2.5vw, 300px);
}
img{
    float: left;
    width: 30v;
    height: 40vh;
    max-width: 100%;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    
}
p{
 
    font-size: clamp(15px, 1vw, 20px);
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 2%;
}
nav{
    display: flex;
    padding: 1.5%;
    background-color: #000000;
    text-align: center; 
    width: 100vw;
}
a{
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: clamp(13px, 1vw, 20px);
}
ul{
    display: flex;
    text-align: center;
    gap: 10%;  
}

aside{
    display: float;
    justify-content: right;
    align-items: right;
    width: 30vw;
    background-color: #aaa4a4;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: right;
    height: 70vh;
}