*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.traducao{
    width: 30px;
    height: 20px;
    margin-left: 10px;
    border-radius: 5px;
}
section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
#fale:hover{
    color: #ff0000;
    transition: 0.4s;
    border-radius: 20px;
    padding: 6px;
    
}
.fale{
    background-color: #48ff00;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: clamp(5px, 0.5vw, 10px);
    height: 4.4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#imagem{
    width: clamp(270px, 30vw, 500px);
    height: clamp(80vh, 30vw, 90vh);
}
main{
    display: flex;
    background-color: white;
}
h2{
    font-size: 50px;
}
#logo{
    height: 80px;
    display: flex;
    width: auto;
    float: right;
    justify-content: right;
}

.links{
    width: clamp(30px, 2.5vw, 300px);
    height: clamp(20px, 2.5vw, 300px);
    border-radius: 50%;
}

a:hover{
    color: #ff0000;
    transition: 0.4s;
    border-radius: 7px;
    padding: 1%;
}
p{
    font-size: clamp(15px, 1vw, 20px);
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 2%;
}
nav{
    padding: 1.5%;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
}
a{
    display: inline-flex;
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: clamp(13px, 1vw, 20px);
}
ul{
    display: inline-flex;
    text-align: right;
    gap: 3vw;  
    margin-left: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    padding: 1%;
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: clamp(100%, 100vw, 60%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color:  #FFFFFF;
}